*{
    box-sizing: border-box;
    list-style-type: none;
}

html{
    height: 100%;
}
    
body {
background: #000000;
background-image: url("../images/earth2.png"); 
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100%;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 1.8rem;
}

p {
    font-size: 1.8rem;
}

#city-input {
    height: 3vh;
    font-size: 50px;
    
}

#save-button {
    height: 5vh;
    font-size: 30px;
    margin-bottom: 5vh;
}

#city-list {
    display: flex;
    flex-direction: column;
}

.city-button {
    padding: 1vh;
    font-size: 30px;
}

#clear-cities {
    margin-top: 5vh;
    color: red;
    width: auto;

}

#weather-container {
    max-width: 30%;
    background-color: rgba(120, 120, 120, 0.222);
    color: white;

}

#forecast-container {    
    color: white;



}

#weatherList {
    font-size: 1.8rem;
}

.forecastList {
    font-size: 1.8rem;
}

.forecastBlock {
    width: 25em;
    min-width: 10em;
    background-color: rgba(120, 120, 120, 0.222);
    margin: 0;
    padding: 1em;
}

