

body {
    background: rgb(0, 0, 0);
    /* background-image: url("../assets/images/earth1.jpeg"); */
    /* ../assets/images/earth2.png */

}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

#city-input {
    height: 3vh;
    font-size: 50px;
    
}

#save-button {
    height: 5vh;
    font-size: 30px;
    margin-bottom: 5vh;
}

#city-list {
    display: flex;
    flex-direction: column;
}

.city-button {
    padding: 1vh;
    font-size: 30px;
}

#clear-cities {
    margin-top: 5vh;
    color: red;
    width: auto;

}

#weather-container {
    padding: 5vh;
    font-size: 25px;
    background-color: black;
    color: white;
}


#weatherList {

}





#forecast-container {

    font-size: 25px;
    background-color: rgba(120, 120, 120, 0.222);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 5px;
}

.forecastBlock {
    margin: 2vw;

}

.forecastList {

}